@font-face {
    font-family: 'fffforwa-webfont';
    src: url('fffforwa-webfont.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'exo-extrabold-italic-webfont';
    src: url('exo-extrabold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    background-image: url("BGM.png");
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  /* This ensures the container takes up the full height of its parent */
}


.timer {
    font-family: 'fffforwa-webfont';
    font-size: 45px;

}

.exerciseDisplay {
    font-family: 'exo-extrabold-italic-webfont';
    font-size: 50px;

}



h1 {
    font-size: 72px;
}

/* Basic & Advanced Styling */
button {
    background-color: #d576f400;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

/* Interactive States */
button:hover {
    background-color: #9800b3;
    cursor: pointer;
}

button:active {
    transform: scale(0.95); /* Makes the button slightly smaller when clicked */
}

button:focus {
    outline: none; /* Removes the default browser outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Adds a glow effect */
}

.imgR {
    position: relative;
    display: inline-block;
}

.imgR img {
    display: block;
    max-width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align:center;
}



